@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000212;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(circle at top, rgba(0, 255, 255, 0.1), transparent 40%),
                    radial-gradient(circle at bottom, rgba(255, 0, 255, 0.05), transparent 40%);
  background-attachment: fixed;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(0, 255, 255, 0.8);
  color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
